#modal-root {
  position: relative;
  z-index: 999;
}

a {
  color: black;
}

a:hover {
  background: cadetblue;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar__item__selected {
  background: lightcoral;
}
